    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    .grid {
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 20px;
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* Crea due colonne di larghezza uguale */
      gap: 20px; /* Aggiunge uno spazio tra le colonne */

    }

    .intro{
        display: flex;
    }

    .visita,
    .analisi{
      padding: 20px;
      border: 1px solid #ccc; /* Aggiungi una bordatura per visualizzare i confini delle sezioni */
      border-radius: 20px;
      border-color: #1E90FF;

    }

    .section-visit img,
    .section-analysis img{
      width: 55%;
      height: auto; /* Imposta l'altezza automatica in base alla larghezza */
      margin-bottom: 10px;
    }


    h5 {
      margin-top: 0;
    }

    h5.card-title{
        font-size: 40px;
    }

    h5.mb-1{
        font-weight: bold;
        font-size: 30px;
    }

    p.card-text{
        font-size: 20px;
    }
    .testo{
        margin-left: 15px;
    }

    .list-group{
        padding: 10px;
        margin-top: 10px;
    }

    .d-flex{
        display: flex;
    }

    .img1,.img2{
        margin-left: 10px;
        width: 50px;
        height: auto;
    }

    .icofont-heart-beat-alt{
        margin-left: 20px;
        font-size: 40px;
    }

    .icofont-tooth{
        margin-left: 20px;
        font-size: 40px;
    }

    .icofont-stethoscope-alt{
        margin-left: 20px;
        font-size: 40px;
    }

    .icofont-surgeon{
        margin-left: 20px;
        font-size: 40px;
    }

    .icofont-icu{
        margin-left: 20px;
        font-size: 40px;
    }



/*=======================
	Start Blog CSS
=========================*/

/*Titolo*/
.section{
	padding:100px 0;
}
.section-title{
	text-align: center;
    margin-bottom: 60px;
    padding: 0 250px;
}
.section-title h2 {
	font-size: 32px;
	font-weight: 600;
	margin-bottom: 24px;
	position: relative;
	color: #2C2D3F;
}
.section-title p{
	font-size:15px;
	color:#888;
	margin-top:15px;
}
/*Fine Titolo*/

.blog .single-news {
	background: #fff;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	box-shadow: 0px 0px 15px #00000014;
}
.blog .single-news img{
	width:100%;
	margin:0;
	padding:0;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.blog .single-news .news-head{
	position:relative;
	overflow:hidden;
}
.blog .single-news .news-content {
	text-align: left;
	background: #fff;
	z-index: 99;
	position: relative;
	padding: 30px;
	left: 0;
	z-index: 0;
}
.blog .single-news .news-content:before{
	position:absolute;
	content:"";
	left:0;
	bottom:0;
	height:2px;
	width:0%;
	background:#1A76D1;
	opacity:0;
	visibility:hidden;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.blog .single-news:hover .news-content:before{
	opacity:1;
	visibility:visible;
	width:100%;
}
.blog .single-news .news-body h2 {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 10px;
	line-height: 24px;
}
.blog .single-news .news-body h2 a{
	color:#2C2D3F;
	font-weight: 500;
}
.blog .single-news .news-body h2 a:hover{
	color:#1A76D1;
}
.blog .single-news .news-content p {
	font-weight: 400;
	font-size: 15px;
	letter-spacing: 0px;
	line-height: 23px;
}
.blog .single-news .news-body .date {
	display: inline-block;
	font-size: 14px;
	margin-bottom: 5px;
	background: #1A76D1;
	color: #fff;
	padding: 4px 15px;
	border-radius: 3px;
	font-size: 14px;
	margin-bottom: 10px;
}
.blog.grid .single-news{
	margin-top:30px;
}

/* News Single */
.news-single {
	padding: 60px 0 90px;
	background: #f8f8f8;
}
.news-single .single-main {
	margin-top: 30px;
	background: #fff;
	padding: 30px;
	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.10);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.10);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.10);
	border-radius: 8px;
}
.news-single .news-head{}
.news-single .news-head img{
	width:100%;
	height:100%;
}
.news-single .news-title {
	font-size: 25px;
	margin: 20px 0;
}
.news-single .news-title a {
	color: #252525;
	font-weight: 600;
}
.news-single .news-title a:hover {
	color: #1A76D1;
}
/* Blog Meta */
.news-single{
	background:#fff;
}
.news-single .meta {
	overflow: hidden;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	width: 100%;
	padding: 10px 0;
	margin-bottom: 15px;
}
.news-single .meta span {
	margin-right: 10px;
	display: inline-block;
}
.news-single .meta span:last-child{
	margin:0;
}
.news-single .meta span, .news-single .meta span a {
	color: #2C2D3F;
	font-weight: 400;
}
.news-single .meta span i {
	margin-right: 5px;
	color:#1A76D1;
}
.news-single .meta-left{
	float:left;
}
.news-single .meta-left .author img {
	width: 45px;
	height: 45px;
	border-radius: 100%;
	margin-right: 12px;
}
.news-single .meta-left .author {
	float: left;
}
.news-single .meta-left span.date {
	margin-top: 10px;
}
.news-single .meta-right {
	float: right;
	margin-top: 10px;
}
.news-single .news-content{
	margin:20px 0;
}
.news-single .news-content p{
	margin-bottom:10px;
}
.news-single .news-content p:last-child{
	margin:0;
}
.news-single .news-text p {
	font-size: 14px;
	margin-bottom:20px;
}

/*===================
	End Blog CSS
=====================*/