/* Set black background color, white text and some padding for the footer */
footer {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #77aaff;
  color: white;
  padding: 15px;
}