<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Come Accedere</title>
     <link rel="stylesheet" href="../static/grafica/main.css">
</head>
<style>

    footer {
    /* Fissa il footer al fondo dello schermo */
    position: relative;
    bottom: 0;
    width: 100%;
}

</style>

{% include 'Navbar.html' %}
<body>



 <section class="pb-11 bg-white">
        <div class="object-cover w-full bg-center bg-cover h-[35rem] "
            style="background-image: url(https://i.postimg.cc/P5gCz1Wc/pexels-marc-mueller-380769.jpg);">
            <div class="flex items-center justify-center w-full h-full bg-blue-800 bg-opacity-50 ">
                <div class="text-center">
                    <h1 class="text-2xl font-semibold text-white uppercase lg:text-3xl">Accessibilità</h1>
                </div>
            </div>
        </div>
        <div class="max-w-6xl mx-auto">
            <div>
                <div>
                    <div class="p-4">

                        <div class="font-poppins dark:text-gray-400">
                            <p class="pb-4 text-black"> In Medicare, crediamo nell'accessibilità per tutti. Questa pagina esprime il nostro impegno a rendere il nostro sito accessibile a
                                persone di tutte le abilità.
                                Forniamo informazioni dettagliate sugli strumenti e le risorse che offriamo per migliorare l'accessibilità del nostro sito.
                                Accogliamo feedback dagli utenti per migliorare costantemente l'esperienza di tutti.
                            </p>
                        </div>


                    </div>

                </div>

            </div>
        </div>
    </section>

<footer class="mt-auto">
    {% include 'Footer2.0.html' %}
</footer>
</body>
</html>
