<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analisi mediche</title>
          <link rel="stylesheet" href="{{url_for('static',filename='grafica/main.css')}}">
</head>
<body>

{% include 'Navbar.html' %}

<div class="max-w-screen-xl mx-auto p-5 sm:p-10 md:p-16 relative">
    <div class="bg-cover bg-center text-center overflow-hidden"
        style="min-height: 500px; background-image: url('{{ url_for('static', filename='images/analisiInfo.jpg') }}')">
    </div>

    <div class="max-w-3xl mx-auto">
        <div
            class="mt-3 bg-white rounded-b lg:rounded-b-none lg:rounded-r flex flex-col justify-between leading-normal">
            <div class="bg-white relative top-0 -mt-32 p-5 sm:p-10">
                <h1 href="#" class="text-gray-900 font-bold text-3xl mb-2">Cosa c'è da sapere sulle analisi</h1>


                <p class="text-base leading-8 my-5">
                    Le analisi mediche svolte sotto accreditamento sono un valido strumento a supporto di diagnosi attendibili, per un'assistenza sanitaria di qualità.
                    Gli esami eseguiti da laboratori medici esterni o interni a strutture ospedaliere, su materiali biologici prelevati dal corpo umano, forniscono informazioni
                    utili alla comprensione dello stato dei processi fisiologici o patologici in atto, e alla formulazione di diagnosi adeguate.
                    E’ riconosciuto infatti che il 70/80% delle diagnosi si basa sui risultati prodotti dai laboratori medici.
                    L’accreditamento dei laboratori clinici secondo la norma ISO 15189 prevede la verifica dell’adeguatezza del sistema di gestione e della competenza tecnica,
                    in particolare relativamente a competenza del personale, appropriatezza degli esami, corretto prelievo e trasporto dei campioni, idoneità dei locali, confrontabilità dei risultati,
                    adeguatezza dei tempi di risposta e chiarezza dei referti.
                </p>

                <h3 class="text-2xl font-bold my-5">Le tipologie</h3>

                <p class="text-base leading-8 my-5">
                    All’interno di un laboratorio medico possono essere effettuate diverse tipologie di esami, a seconda della finalità diagnostica.
                    Le analisi mediche afferiscono a diverse discipline di laboratorio:
                    anatomia patologica, incluse istologia e citologia;
                    biochimica clinica, incluse chimica clinica, allergologia e autoimmunità;
                    ematologia e coagulazione;
                    microbiologia clinica, incluse batteriologia, micologia, micobatteriologia, parassitologia e virologia;
                    genetica medica, incluse citogenetica, genetica molecolare e citogenetica molecolare;
                    immunologia;
                    trasfusionale.
                </p>

                <blockquote class="border-l-4 text-base italic leading-8 my-5 p-5 text-indigo-600">
                    Le analisi cliniche svolgono un ruolo cruciale nel nostro approccio alla prevenzione delle malattie.
                    Esse ci forniscono una finestra sul nostro stato di salute, permettendoci di individuare precocemente eventuali anomalie
                    e affrontarle prima che si trasformino in problemi più gravi.

                </blockquote>

                <p class="text-base leading-8 my-5">
                    Il nostro sito, una piattaforma all'avanguardia, offre un servizio innovativo che consente di prenotare analisi cliniche con varie
                    strutture pubbliche e medici privati, rendendo il percorso di cura più accessibile, efficiente e personalizzato.
                    Viviamo in un'era in cui la tecnologia può fungere da catalizzatore per migliorare il nostro sistema sanitario, e il nostro sito è un esempio
                    tangibile di come l'innovazione possa contribuire a rendere la salute una priorità alla portata di tutti. Attraverso una semplice interfaccia online,
                    i pazienti possono prenotare analisi cliniche in diverse strutture, siano esse pubbliche o con medici privati, con la comodità di farlo dal proprio domicilio.
                </p>


            </div>

        </div>
    </div>
</div>

{% include 'Footer2.0.html' %}

</body>
</html>