<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Loopple/loopple-public-assets@main/motion-tailwind/motion-tailwind.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/grafica/convertimi.css">
</head>
<body>
{% include 'Navbar.html' %}

<div class="contenitore-funzionalitaofferte">
    <div class="testo-funzionalitaofferte">
        <h1 class="Elika-Gorika-80-bold">Funzionalità Offerte</h1>

        <div class="testo-medicare-funzionalitaofferte">
            <p>Registratevi con noi per accedere a una serie di servizi sanitari convenienti e intuitivi. Ecco alcune delle funzionalità che mettiamo a vostra disposizione:</p>

            <ul>
                <li>Prenotazione di analisi e visite mediche.</li>
                <li>Esenzioni per visite mediche e analisi.</li>
                <li>Consultazione farmaci.</li>
                <li>Visualizzazione delle prenotazioni effettuate.</li>
                <li>Richiami vaccinali automatici.</li>
                <!-- Aggiungi altre funzionalità secondo necessità -->
            </ul>

            <p>Il nostro obiettivo è semplificare il vostro percorso sanitario, offrendo un'esperienza completa e accessibile.</p>
        </div>
    </div>
</div>

{% include 'Footer2.0.html' %}
</body>
</html>
