<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Come Accedere</title>
     <link rel="stylesheet" href="../static/grafica/main.css">
</head>
{% include 'Navbar.html' %}
<body>
<div class="flex flex-wrap justify-center items-center mx-auto max-w-screen-xl">
    <h1 class="font-serif text-4xl font-bold leading-6 mb-3 mt-3 text-stone-600 block">Come Accedere</h1>
    <div class="font serif mt-4 ml-30 justify-content-between text-2xl leading-normal">
        La piattaforma Medicare offre una semplicissima e standardizzata forma di login molto semplice in modo tale da avere un adeguata
        suddivisione dei ruoli e rendere chiaro all'utente a quali funzionalità può accedere. MediCare prevede tre tipologie di utenti:
        <b>Paziente, Medico e Ente Sanitario</b><br>
        <h2 class="font-serif font-bold leading-5 mt-4 text-blue-600 text-3xl">Paziente</h2>
        Il paziente potrà accedere a tutte le funzionalità del sistema come prenotazione,gestione FSE, databse Farmaci etc...<br>
        <h2 class="font-serif font-bold leading-5 mt-4 text-blue-600 text-3xl">Medico</h2>
        Il Medico potrà accedere alle funzionalità di storico prenotazioni, vedendo in modo chiaro e semplice quante sedute ha svolto da quando è su MediCare
        ,visualizzare tutte le informazioni dei pazienti che visita incluso il Fascicolo Sanitario Elettronico per inserire ricette ed accedere al database di Farmaci
        <h2 class="font-serif font-bold leading-5 mt-4 text-blue-600 text-3xl">Ente Sanitario</h2>
        L'Ente Sanitario rappresenta l'istituto sanitario pubblico, che ha necessità di gestire i propri reparti in maniera veloce e semplice, per questo motivo <br>
        esso potrà accedere a funzionalità gestionali, aggiungendo e cancellando reparti dalla piattaforma
        <h2 class="font-serif font-bold leading-5 mt-4 text-blue-600 text-3xl">Procedura di login</h2>
        Dalla Navbar è presente un link "Log In"<br><br>
        <img src="{{url_for('static', filename='images/ComeAccedere1.png')}}">
        <br>
        che permetterà di accedere ad una pagina dove si potrà compilare un modulo,
        prima di compilarlo è bene scegliere che tipologia di utente sta effettuando l'accesso alla piattaforma (Medico o Paziente).
        Nel caso non ci si fosse ancora registrati, tramite il link "Create Account" è possibile accedere alla pagina di registrazione.
        Se si volesse accedere come Ente Sanitario, in alto a destra è presente un link che porterà alla pagina di login per l'ente, con eventualmente il link
        alla pagina di registrazione.<br><br>
        <img src="{{url_for('static', filename='images/ComeAccedere2.png')}}">
        <br>
        Per accedere o registrarsi come Ente Sanitario è necessaria un indirizzo di posta elettronica certificata altrimenti
        l'autenticazione non andrà a buon fine. Una volta forniti email e password corrette si potrà accedere a pieno alle funzionalità di MediCare.<br>

        <img src="{{url_for('static', filename='images/ComeAccedere3.png')}}" class="mb-7">

    </div>


</div>
{% include 'Footer2.0.html' %}

</body>
</html>