<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team Medicare</title>
    <link rel="stylesheet" href="{{url_for('static',filename='grafica/main.css')}}">
</head>
<style>

    footer {
    /* Fissa il footer al fondo dello schermo */
    position: relative;
    bottom: 0;
    width: 100%;
}

</style>
<body>
{% include 'Navbar.html' %}


<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
      <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Team MediCare</h2>
          <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">Il team MediCare è composto da 8 persone, ognuno con diversi ruoli, in modo tale da avere una più chiara
              e facile suddivisone delle mansioni</p>
      </div>
      <div class="grid grid-cols-2 gap-8 mb-10">

          <div class="text-center text-gray-500 dark:text-gray-400">
              <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="{{ url_for('static', filename='images/fotoprofilo/luca.jpg') }}" alt="Michael Avatar">
              <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                  <a href="#">Luca Contrasto</a>
              </h3>
              <p>Project Manager</p>

          </div>
          <div class="text-center text-gray-500 dark:text-gray-400">
              <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="{{ url_for('static', filename='images/fotoprofilo/matteoc.jpg') }}" alt="Neil Avatar">
              <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                  <a href="#">Matteo Cicalese</a>
              </h3>
              <p>Project Manager</p>

          </div>
      </div>

      <div class="grid grid-cols-6 gap-8">

          <div class="text-center text-gray-500 dark:text-gray-400">
              <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="{{ url_for('static', filename='images/fotoprofilo/matteoa.jpg') }}" alt="Michael Avatar">
              <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                  <a href="#">Matteo</a>
                  <br>
                  <a href="#">Avella</a>

              </h3>
              <p>Team Member</p>

          </div>
          <div class="text-center text-gray-500 dark:text-gray-400">
              <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="{{ url_for('static', filename='images/fotoprofilo/salvatore.jpg') }}" alt="Neil Avatar">
              <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                  <a href="#">Salvatore Basilicata</a>
              </h3>
              <p>Team Member</p>

          </div>
          <div class="text-center text-gray-500 dark:text-gray-400">
              <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="{{ url_for('static', filename='images/fotoprofilo/primo.jpg') }}" alt="Neil Avatar">
              <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                  <a href="#">Primo</a>
                  <br>
                  <a href="#">Calabrese</a>
              </h3>
              <p>Team Member</p>

          </div>
          <div class="text-center text-gray-500 dark:text-gray-400">
              <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="{{ url_for('static', filename='images/fotoprofilo/giovanni.jpg') }}" alt="Neil Avatar">
              <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                  <a href="#">Giovanni Casaburi</a>
              </h3>
              <p>Team Member</p>

          </div>
          <div class="text-center text-gray-500 dark:text-gray-400">
              <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="{{ url_for('static', filename='images/fotoprofilo/gianluca.jpg') }}" alt="Neil Avatar">
              <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                  <a href="#">Gianluca Palumbo</a>
              </h3>
              <p>Team Member</p>
          </div>
          <div class="text-center text-gray-500 dark:text-gray-400">
              <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="{{ url_for('static', filename='images/fotoprofilo/domenico.jpg') }}" alt="Neil Avatar">
              <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                  <a href="#">Domenico Urciuoli</a>
              </h3>
              <p>Team Member</p>

          </div>
      </div>



  </div>
</section>




<footer class="mt-auto">
    {% include 'Footer2.0.html' %}
</footer>
</body>
</html>