<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dettagli farmaco</title>
    <link rel="stylesheet" href="{{url_for('static',filename='grafica/main.css')}}">
</head>
<style>

    footer {
    /* Fissa il footer al fondo dello schermo */
    position: relative;
    bottom: 0;
    width: 100%;
}

</style>
<body>

{% include 'Navbar.html' %}

{% if farmaco %}

  <!--Dettagli del farmaco-->
  <section class="text-gray-700 body-font overflow-hidden bg-white">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">

        <img alt="immagine non disponibile" class="lg:w-1/2 w-full object-cover object-center rounded border border-gray-200" src="{{ url_for('static', filename='images/farmaci/' + farmaco.immagine) }}">

        <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
          <h2 class="text-sm title-font text-gray-500 tracking-widest">{{ farmaco.categoria }}</h2>
          <h1 id="nomeFarmaco" class="text-gray-900 text-3xl title-font font-medium mb-1">{{ farmaco.nome }}</h1>

          <p class="leading-relaxed">{{ farmaco.descrizione }}</p>
          <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-200 mb-5">
          </div>

          <div class="flex">
            <span class="title-font font-medium text-2xl text-gray-900">€{{ farmaco.prezzo }}</span>

          </div>
        </div>
      </div>
    </div>
  </section>

{% else %}
  <p>Qualcosa non va</p>
{% endif %}
  <!--Lista degli altri farmaci simili-->
  <section class="py-0 sm:py-1 lg:py-4">
    <div class="mx-auto max-w-screen-xl px-4 md:px-8">
      {% if suggeriti %}
      <div class="relative mb-10 pt-8 md:mb-16">
        <h2 class="mb-4 text-center font-sans text-3xl font-bold text-blue-900 md:mb-6 md:text-4xl">Ti potrebbero interessare</h2>
      </div>
      <div class="relative grid gap-5 sm:grid-cols-2 lg:grid-cols-4">
            {% for farmaci in suggeriti %}

          <a href="{{url_for('farmacia.dettagliFarmaco', id=farmaci.ID, categoria=farmaci.categoria)}}">
            <div class="flex flex-col justify-between overflow-hidden transition-shadow duration-200 bg-white rounded-lg border border-gray-300 shadow-xl group hover:shadow-2xl" style="max-height: 500px;"> <!-- Aggiunto border e personalizzato lo stile -->
              <div class="p-5 pb-4 flex flex-col items-center justify-center">
                <img class="h-48 w-full object-cover" src="{{ url_for('static', filename='images/farmaci/' + farmaci.immagine)}}" alt=".." />
                <p class="mt-4 mb-2 font-bold text-center">{{farmaci.nome}}</p>
              </div>
              <div class="w-full h-1 ml-auto duration-300 origin-left transform scale-x-0 bg-deep-purple-accent-400 group-hover:scale-x-100"></div>
            </div>
          </a>

          {% endfor %}
      {% else %}
        <div class="relative mb-10 pt-8 md:mb-16">
        <h2 class="mb-4 text-center font-serif text-3xl font-bold text-blue-900 md:mb-6 md:text-4xl">Non ci sono altri prodotti simili</h2>
      </div>
      {% endif %}
      </div>
    </div>
  </section>


<footer class="mt-auto">
    {% include 'Footer2.0.html' %}
</footer>
</body>
</html>