<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HomePage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

      <style>
    /* Modifica l'altezza delle immagini del Carousel */
    .carousel-item img {
      height: 70vh; /* Imposta un'altezza fissa per le immagini del Carousel */
      object-fit: cover; /* Consente di adattare l'immagine mantenendo le proporzioni e coprendo l'intera area dell'elemento padre */
    }



  </style>
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='grafica/HomePage.css') }}">

		<!-- Font Awesome CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='grafica/icofont/icofont.css') }}">
		<!-- icofont CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='grafica/icofont/icofont.min.css') }}">




		<!-- Responsive CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='grafica/responsive.css') }}">




		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='grafica/bootstrap.min.css') }}">







  </head>
  <body>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  	{% include 'Navbar.html' %}
<div id="alert-container" class="relative">
  <div id="alert" class="bg-indigo-900 text-center py-4 lg:px-4 absolute top-0 left-0 right-0 opacity-0 transform translateY-0 transition-all duration-500 ease-out">
    <div class="p-2 bg-indigo-800 items-center text-indigo-100 leading-none lg:rounded-full flex lg:inline-flex" role="alert">
      <span class="flex rounded-full bg-indigo-500 uppercase px-2 py-1 text-xs font-bold mr-3">Hey!</span>
      <span class="font-semibold mr-2 text-left flex-auto">Sei già loggato</span>
    </div>
  </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        let alertElement = document.getElementById('alert');

        // Trigger a reflow to apply the initial style
        alertElement.offsetHeight;

        // Show the alert with a subtle fade and upward transition
        alertElement.style.opacity = '1';
        alertElement.style.transform = 'translateY(0)';

        // Set a timeout to start the fade-out after 3000 milliseconds (3 seconds)
        setTimeout(function () {
            // Hide the alert with a smooth opacity and upward transition
            alertElement.style.opacity = '0';
            alertElement.style.transform = 'translateY(-100%)';
        }, 3000);
    });
</script>








  <!-- Carosello -->

  <div id="carouselExampleCaptions" class="carousel slide">

  <div class="carousel-inner">

<div class="carousel-item active">
  <div class="image-container">
    <img src="{{ url_for('static', filename='images/dottore.jpg') }}" class="d-block w-100" alt="...">
    <div class="caption">
      <h3>Fidati dei nostri specialisti</h3>
		<h3>Affidaci la tua salute</h3>
      <p>Medicare si prenderà cura di te, prenota subito e scopri tutti i servizi a tua disposizione.</p>
		<button onclick="window.location.href='{{ url_for('chisiamo') }}'" class="btn btn-primary">Per saperne di più</button>
    </div>
  </div>
</div>



    <div class="carousel-item">
	<div class="image-container">
		<img src="{{ url_for('static', filename='images/dottore2.jpg') }}" class="d-block w-100" alt="...">
		<div class="caption">
      <h3>Fidati dei nostri specialisti</h3>
		<h3>Affidaci la tua salute</h3>
		  <p>Medicare si prenderà cura di te, prenota subito e scopri tutti i servizi a tua disposizione.</p>
			<button onclick="window.location.href='{{ url_for('chisiamo') }}'" class="btn btn-primary">Per saperne di più</button>
		</div>
	  </div>
    </div>



    <div class="carousel-item">
	<div class="image-container">
		<img src="{{ url_for('static', filename='images/dottore3.jpg') }}" class="d-block w-100" alt="...">
		<div class="caption">
      <h3>Fidati dei nostri specialisti</h3>
		<h3>Affidaci la tua salute</h3>
		  <p>Medicare si prenderà cura di te, prenota subito e scopri tutti i servizi a tua disposizione.</p>
			<button onclick="window.location.href='{{ url_for('chisiamo') }}'" class="btn btn-primary">Per saperne di più</button>
		</div>
	  </div>
    </div>

  </div>


  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

  <!-- Fine Carosello -->



		<!-- Start Schedule Area -->
		<section class="schedule">
			<div class="container">
				<div class="schedule-inner">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-12 ">
							<!-- single-schedule -->
							<div class="single-schedule first">
								<div class="inner">
									<div class="icon">
										<i class="icofont-dna"></i>
									</div>
									<div class="single-content">
										<h4>Analisi cliniche</h4>
										<p>Su Medicare sono disponibili diversi tipi di analisi cliniche prenotabili. Consulta l'apposita sezione e prenota subito.</p>
										<a href="{{url_for('prenotazione')}}">SCOPRI DI PIÙ<i class="fa fa-long-arrow-right"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12">
							<!-- single-schedule -->
							<div class="single-schedule middle">
								<div class="inner">
									<div class="icon">
										<i class="icofont-prescription"></i>
									</div>
									<div class="single-content">
										<h4>Visite specialistiche</h4>
										<p>Potrai scegliere tra una vasta gamma di medici privati e strutture ospedaliere per prenotare una visita specialistica.</p>
										<a href="{{url_for('prenotazione')}}">SCOPRI DI PIÙ<i class="fa fa-long-arrow-right"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-12 col-12">
							<!-- single-schedule -->
							<div class="single-schedule last">
								<div class="inner">
									<div class="icon">
										<i class="icofont-heart-beat-alt"></i>
									</div>
									<div class="single-content">
										<h4>Malattie cardiache</h4>
										<p>Scopri subito se sei a rischio di una malattia cardiaca. Con Medicare potrai sottoporti ad un'esame immediato.</p>
										<a href="{{url_for('feature.moduloai')}}">SCOPRI DI PIÙ<i class="fa fa-long-arrow-right"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/End Start schedule Area -->





<!-- Start Feautes -->
		<section class="Feautes section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title d-flex justify-content-center align-items-center flex-column text-center">
						  <h2>Sempre pronti per aiutare te e i tuoi cari, non perdere tempo, prenota</h2>
						  <img src="{{ url_for('static', filename='images/section-img.png') }}" alt="#">
						  <p>Medicare offre una vasta gamma di servizi e non si limita alle singole visite mediche, scopri tutto ciò che abbiamo da offrire.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features">
							<div class="signle-icon">
								<i class="icofont-doctor"></i>
							</div>
							<h3>Visite convenzionate</h3>
							<p>Potrai prenotare una consulenza pubblica ottenendo agevolazioni fiscali in base al tuo reddito.</p>
						</div>
						<!-- End Single features -->
					</div>
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features">
							<div class="signle-icon">
								<i class="icofont-medical-sign-alt"></i>
							</div>
							<h3>Database farmaceutico</h3>
							<p>Medicare mette a disposizione degli utenti un database consultabile di farmaci.</p>
						</div>
						<!-- End Single features -->
					</div>
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features last">
							<div class="signle-icon">
								<i class="icofont-injection-syringe"></i>
							</div>
							<h3>Vaccinazioni</h3>
							<p>Prenota il tuo vaccino presso una delle strutture sanitarie presenti sulla piattaforma.</p>
						</div>
						<!-- End Single features -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End Feautes -->




		<!-- Start Fun-facts -->
		<div id="fun-facts" class="fun-facts section overlay">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Fun -->
						<div class="single-fun">
							<i class="icofont-doctor-alt"></i>
							<div class="content">
								<span class="counter">73</span>
								<p>Medici iscritti</p>
							</div>
						</div>
						<!-- End Single Fun -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Fun -->
						<div class="single-fun">
							<i class="icofont-crutch"></i>
							<div class="content">
								<span class="counter">127</span>
								<p>Pazienti visitati</p>
							</div>
						</div>
						<!-- End Single Fun -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Fun -->
						<div class="single-fun">
							<i class="icofont-hospital"></i>
							<div class="content">
								<span class="counter">36</span>
								<p>Strutture registrate</p>
							</div>
						</div>
						<!-- End Single Fun -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Fun -->
						<div class="single-fun">
							<i class="icofont-test-tube"></i>
							<div class="content">
								<span class="counter">86</span>
								<p>Analisi effettuate</p>
							</div>
						</div>
						<!-- End Single Fun -->
					</div>
				</div>
			</div>
		</div>
		<!--/ End Fun-facts -->

  {% include 'Footer2.0.html' %}










  </body>
</html>