<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HomePage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
      <style>
    /* Modifica l'altezza delle immagini del Carousel */
    .carousel-item img {
      height: 70vh; /* Imposta un'altezza fissa per le immagini del Carousel */
      object-fit: cover; /* Consente di adattare l'immagine mantenendo le proporzioni e coprendo l'intera area dell'elemento padre */
    }
  </style>
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='grafica/HomePage.css') }}">

		<!-- Font Awesome CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='grafica/icofont/icofont.css') }}">
		<!-- icofont CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='grafica/icofont/icofont.min.css') }}">




		<!-- Responsive CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='grafica/responsive.css') }}">




		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='grafica/bootstrap.min.css') }}">







  </head>
  <body>
  	{% include 'Navbar.html' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>



  <!-- Carosello -->

  <div id="carouselExampleCaptions" class="carousel slide">

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{ url_for('static', filename='images/dottore.jpg') }}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{{ url_for('static', filename='images/dottore2.jpg') }}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{{ url_for('static', filename='images/dottore3.jpg') }}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

  <!-- Fine Carosello -->



		<!-- Start Schedule Area -->
		<section class="schedule">
			<div class="container">
				<div class="schedule-inner">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-12 ">
							<!-- single-schedule -->
							<div class="single-schedule first">
								<div class="inner">
									<div class="icon">
										<i class="icofont-dna"></i>
									</div>
									<div class="single-content">
										<h4>Analisi cliniche</h4>
										<p>Su Medicare sono disponibili diversi tipi di analisi cliniche prenotabili. Consulta l'apposita sezione e prenota subito.</p>
										<a href="#">SCOPRI DI PIÙ<i class="fa fa-long-arrow-right"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12">
							<!-- single-schedule -->
							<div class="single-schedule middle">
								<div class="inner">
									<div class="icon">
										<i class="icofont-prescription"></i>
									</div>
									<div class="single-content">
										<h4>Visite specialistiche</h4>
										<p>Potrai scegliere tra una vasta gamma di medici privati e strutture ospedaliere per prenotare una visita specialistica.</p>
										<a href="#">SCOPRI DI PIÙ<i class="fa fa-long-arrow-right"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-12 col-12">
							<!-- single-schedule -->
							<div class="single-schedule last">
								<div class="inner">
									<div class="icon">
										<i class="icofont-heart-beat-alt"></i>
									</div>
									<div class="single-content">
										<h4>Malattie cardiache</h4>
										<p>Scopri subito se sei a rischio di una malattia cardiaca. Con Medicare potrai sottoporti ad un'esame immediato.</p>
										<a href="#">SCOPRI DI PIÙ<i class="fa fa-long-arrow-right"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/End Start schedule Area -->





<!-- Start Feautes -->
		<section class="Feautes section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title d-flex justify-content-center align-items-center flex-column text-center">
						  <h2>Sempre pronti per aiutare te e i tuoi cari, non perdere tempo, prenota</h2>
						  <img src="{{ url_for('static', filename='images/section-img.png') }}" alt="#">
						  <p>Medicare offre una vasta gamma di servizi e non si limita alle singole visite mediche, scopri tutto ciò che abbiamo da offrire.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features">
							<div class="signle-icon">
								<i class="icofont-doctor"></i>
							</div>
							<h3>Visite convenzionate</h3>
							<p>Potrai prenotare una consulenza pubblica ottenendo agevolazioni fiscali in base al tuo reddito.</p>
						</div>
						<!-- End Single features -->
					</div>
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features">
							<div class="signle-icon">
								<i class="icofont-medical-sign-alt"></i>
							</div>
							<h3>Database farmaceutico</h3>
							<p>Medicare mette a disposizione degli utenti un database consultabile di farmaci.</p>
						</div>
						<!-- End Single features -->
					</div>
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features last">
							<div class="signle-icon">
								<i class="icofont-injection-syringe"></i>
							</div>
							<h3>Vaccinazioni</h3>
							<p>Prenota il tuo vaccino presso una delle strutture sanitarie presenti sulla piattaforma.</p>
						</div>
						<!-- End Single features -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End Feautes -->




		<!-- Start Fun-facts -->
		<div id="fun-facts" class="fun-facts section overlay">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Fun -->
						<div class="single-fun">
							<i class="icofont-doctor-alt"></i>
							<div class="content">
								<span class="counter">73</span>
								<p>Medici iscritti</p>
							</div>
						</div>
						<!-- End Single Fun -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Fun -->
						<div class="single-fun">
							<i class="icofont-crutch"></i>
							<div class="content">
								<span class="counter">127</span>
								<p>Pazienti visitati</p>
							</div>
						</div>
						<!-- End Single Fun -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Fun -->
						<div class="single-fun">
							<i class="icofont-hospital"></i>
							<div class="content">
								<span class="counter">36</span>
								<p>Strutture registrate</p>
							</div>
						</div>
						<!-- End Single Fun -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Fun -->
						<div class="single-fun">
							<i class="icofont-test-tube"></i>
							<div class="content">
								<span class="counter">86</span>
								<p>Analisi effettuate</p>
							</div>
						</div>
						<!-- End Single Fun -->
					</div>
				</div>
			</div>
		</div>
		<!--/ End Fun-facts -->











  </body>
</html>