<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista medici</title>
    <link rel="stylesheet" href="{{url_for('static',filename='grafica/main.css')}}">
</head>
<body>


{% include 'Navbar.html' %}

<div class="bg-white p-8 rounded-md w-full">

	<!--Scritte sopra la tabella-->
	<div class=" flex items-center justify-between pb-6">
	{% if lista %}

		<!--Titolo con nome della specializzazione-->
			<div>
				<h2 class="text-gray-900 font-semibold">{{lista[0].specializzazione}}</h2>
				<span class="text-s">Lista dei medici privati e dei reparti sanitari pubblici</span>
			</div>
		<!--Fine Titolo-->
	{% endif %}
		<!--Barra di ricerca con il pulsante-->
			<div class="flex items-center justify-between">
				<div class="flex bg-gray-50 items-center p-2 rounded-md">
					<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" viewBox="0 0 20 20"
						fill="currentColor">
						<path fill-rule="evenodd"
							d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
							clip-rule="evenodd"/>
					</svg>

					<input class="bg-gray-50 outline-none ml-1 block " type="text" name="" id="" placeholder="nome medico...">
				</div>
					<div class="lg:ml-10 ml-10 space-x-8">
						<button class="hover:bg-indigo-600 bg-blue-500 px-4 py-2 rounded-md text-white font-semibold tracking-wide cursor-pointer">Cerca</button>
					</div>
			</div>
		<!--Fine barra di ricerca-->
	</div>
	<!--Fine Scritte sopra la tabella-->


	<div>
			<div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
				<div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
					<table class="min-w-full leading-normal">
						<!--Prima riga della tabella con i titoli generici-->
						<thead>
							<tr>
								<th
									class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
									Nome
								</th>
								<th
									class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
									E-mail
								</th>
								<th
									class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
									Specializzazione
								</th>
								<th
									class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
									Città
								</th>
								<th
									class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
									Struttura sanitaria
								</th>
                                <th
									class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
									Prezzo
								</th>
							</tr>
						</thead>
						<!--Fine prima riga della tabella con i titoli generici-->
						{% if lista %}
						    {% for medico in lista %}
								<form method="post" action="{{url_for('prenotazioni.getMedico')}}">
									<input type="hidden" name="medico" value="{{medico.email}}">


						<!--Esempio dati medico pubblico-->
						        {% if medico.nome==None %}
						<tbody>
							<tr>
								<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
									<div class="flex items-center">
										<div class="flex-shrink-0 w-10 h-10">
											<img class="w-full h-full rounded-full"
                                                src="{{ url_for('static', filename='images/hospital-building.png') }}"
                                                alt="" />
                                        </div>
											<div class="ml-3">

												<button type="submit" class="text-gray-900 hover:text-sky-400 whitespace-no-wrap" onclick="setPrezzo()">
													{{medico.reparto}}
												</button>

											</div>
										</div>
								</td>
								<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
									<p class="text-gray-900 whitespace-no-wrap">{{medico.email}}</p>
								</td>
								<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
									<p class="text-gray-900 whitespace-no-wrap">
										{{medico.specializzazione}}
									</p>
								</td>
								<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
									<p class="text-gray-900 whitespace-no-wrap">
										{{medico.città}}
									</p>
								</td>
								<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
									<span
                                        class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight">
                                        <span aria-hidden
                                            class="absolute inset-0 bg-green-200 opacity-50 rounded-full"></span>
									<span class="relative">{{medico.ente_sanitario}}</span>
									</span>
								</td>
                                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
									<p class="text-gray-900 whitespace-no-wrap">
										{{medico.tariffa}}$
									</p>
									<input type="hidden" name="prezzo" value="{{medico.tariffa}}">
								</td>
							</tr>
							<!--Fine esempio dati medico pubblico-->


							        {% else %}
							<!--Esempio dati medico privato-->
							<tr>
								<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
									<div class="flex items-center">
										<div class="flex-shrink-0 w-10 h-10">
											<img class="w-full h-full rounded-full"
                                                src="{{ url_for('static', filename='images/medical.png') }}"
                                                alt="" />
                                        </div>
											<div class="ml-3">
												<button type="submit" class="text-gray-900 hover:text-sky-400 whitespace-no-wrap">
													{{medico.nome}}
												</button>
											</div>
										</div>
								</td>
								<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
									<p class="text-gray-900 whitespace-no-wrap">{{medico.email}}</p>
								</td>
								<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
									<p class="text-gray-900 whitespace-no-wrap">
										{{medico.specializzazione}}
									</p>
								<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
									<p class="text-gray-900 whitespace-no-wrap">
										{{medico.città}}
									</p>
								</td>
								<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
									<span
                                        class="relative inline-block px-3 py-1 font-semibold text-orange-900 leading-tight">
                                        <span aria-hidden
                                            class="absolute inset-0 bg-orange-200 opacity-50 rounded-full"></span>
									<span class="relative">Studio medico privato</span>
									</span>
								</td>
                                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
									<p class="text-gray-900 whitespace-no-wrap">
										{{medico.tariffa}}$
									</p>
								</td>
							</tr>
							<!--Fine esempio dati medico privato-->
							        {% endif %}
							</form>

							    {% endfor %}
						    {% endif %}




						</tbody>
					</table>
				</div>
			</div>
		</div>
</div>


{% include 'Footer2.0.html' %}
</body>
</html>