<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Loopple/loopple-public-assets@main/motion-tailwind/motion-tailwind.css" rel="stylesheet">
              <link rel="stylesheet" href="../static/grafica/main.css">

    </head>
    <body class="bg-navbarreg rounded-lg" onload="onload()">
    <script>
        function onload(){
            document.getElementById("doc").style.borderColor="green"
            document.getElementById("doc").style.borderWidth="5px"
            document.getElementById("Paziente").style.display="none"
            document.getElementById("user").style.borderWidth="0"
        }
        function selectUtente(img){
            img.style.borderColor="green"
            img.style.borderWidth="5px"
            if (img.id=="doc"){
                document.getElementById("Paziente").style.display="none"
                document.getElementById("user").style.borderWidth="0"
                document.getElementById("Medico").style.display="block"
                document.getElementById("Benvenuto").innerHTML="Salve Dottore"
            }else{
                document.getElementById("Benvenuto").innerHTML="Salve Utente Medicare"
                document.getElementById("Medico").style.display="none"
                document.getElementById("doc").style.borderWidth="0"
                document.getElementById("Paziente").style.display="block"
            }
        }
    </script>
    <header>
        <nav class="bg-blue-500  border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">

        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
            <a href="{{url_for('home')}}" class="flex items-center">
                <img src="{{ url_for('static', filename='images/Logo.png') }}" class="h-10" alt="MediCare Logo" />
                <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">MediCare</span>
            </a>
            <div class="flex items-center lg:order-2">
                <a href="{{url_for('auth.loginEnte_page')}}" class="text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">Accedi come Ente</a>
                <button data-collapse-toggle="mobile-menu-2" type="button" class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mobile-menu-2" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                    <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
            </div>

        </div>
    </nav>
</header>



        <div class="container flex flex-col mx-auto bg-navbarreg rounded-lg ">
           <div class="flex justify-center w-full h-full my-auto xl:gap-14 lg:justify-normal md:gap-5 draggable">
      <div class="flex items-center justify-center w-full lg:p-12">
        <div class="flex items-center bg-white p-10" style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
          <form method="post" class="flex flex-col w-full h-full pb-6 text-center bg-white rounded-3xl" action="{{url_for('auth.login_page')}}">
            <h3 class="mb-3 text-4xl font-extrabold text-dark-grey-900">Sign In</h3>
            <p class="mb-4 text-grey-700">Scegli il tipo di account con cui accedere</p>
<div class="container mx-auto flex justify-center mt-32 w-full h-fit">
<div class="radio-group inline-flex flex-1 flex-row flex-initial justify-center rounded-lg shadow-md">
            <div class="radio">
                <input type="radio" id="tipopaziente" name="tipo" value="paziente" checked>
                <label for="tipopaziente" class="block text-center px-4 py-3 bg-white border border-grey border-solid border-2 w-32 h-32">
                	<div class="text-3xl mb-2">                      <img src="{{ url_for('static', filename='images/iconapaziente.png') }}" class="d-block w-20" alt="...">
</div>
                  <div class="font-semibold uppercase tracking-wide"><strong>Paziente</strong></div>
                </label>
            </div>
            <div class="radio bg-white border border-grey border-l-0">
                <input type="radio" id="tipomedico" name="tipo" value="medico">
                <label for="tipomedico" class="block text-center px-4 py-3 bg-white border border-grey border-solid border-2 w-32 h-32">
                	<div class="text-3xl mb-2">                      <img src="{{ url_for('static', filename='images/iconadottore.png') }}" class="d-block w-20" alt="...">
</div>
                  <div class="font-semibold uppercase tracking-wide"><strong>Medico</strong></div>
                </label>
            </div>

        </div>
    </div>


            <div class="items-center mb-3">

            </div>

            <label for="email" class="mb-2 text-sm text-start text-grey-900">Email</label>
            <input name ="email" id="email" type="email" placeholder="mail@loopple.com" class="flex items-center w-full px-5 py-4 mr-2 text-sm font-medium outline-none focus:bg-grey-400 mb-7 placeholder:text-grey-700 bg-grey-200 text-dark-grey-900 rounded-2xl"/>
            <label for="password" class="mb-2 text-sm text-start text-grey-900">Password</label>
            <input name="password"  id="password" type="password" placeholder="Enter a password" class="flex items-center w-full px-5 py-4 mb-5 mr-2 text-sm font-medium outline-none focus:bg-grey-400 placeholder:text-grey-700 bg-grey-200 text-dark-grey-900 rounded-2xl"/>

            <button type="submit" class="bg-navbarreg w-full px-6 py-5 mb-5 text-sm font-bold leading-none text-white transition duration-300 md:w-96 rounded-2xl hover:bg-purple-blue-600 focus:ring-4 focus:ring-purple-blue-100 bg-purple-blue-500">Sign In</button>
            <p id="registrazioneMedico" class="text-sm leading-relaxed text-grey-900">Not registered yet? <a href="{{url_for('auth.registrazioneMedico')}}" class="font-bold text-grey-700">Create an Account</a></p>
            <p id="registrazionePaziente" class="text-sm leading-relaxed text-grey-900">Not registered yet? <a href="{{url_for('auth.registrazionePaziente')}}" class="font-bold text-grey-700">Create an Account</a></p>
          </form>
        </div>
      </div>
    </div>
        </div>
    </body>

   <script>
    document.addEventListener('DOMContentLoaded', function () {
        const radioTipoPaziente = document.getElementById('tipopaziente');
        const radioTipoMedico = document.getElementById('tipomedico');
        const registrazioneMedico = document.getElementById('registrazioneMedico');
        const registrazionePaziente = document.getElementById('registrazionePaziente');

        function updateVisibility() {
            if (radioTipoPaziente.checked) {
                registrazioneMedico.style.display = 'none';
                registrazionePaziente.style.display = 'block';
            } else if (radioTipoMedico.checked) {
                registrazioneMedico.style.display = 'block';
                registrazionePaziente.style.display = 'none';
            }
        }

        // Initial visibility update
        updateVisibility();

        // Add change event listeners
        radioTipoPaziente.addEventListener('change', updateVisibility);
        radioTipoMedico.addEventListener('change', updateVisibility);
    });
</script>





<style>
    .radio-group .radio:first-child {
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
    }

    .radio-group .radio:last-child {
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }

    .radio-group .radio {
        position: relative;
    }

    .radio input {
        visibility: hidden;
        position: absolute;
    }

    .radio label:hover {
        cursor: pointer;
    }

    .radio input:checked+label {
        border-color: #38C172;
        background-color: #E3FCEC;
    }
</style>
<html>
