<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Come Accedere</title>
     <link rel="stylesheet" href="../static/grafica/main.css">
</head>
{% include 'Navbar.html' %}
<body>



 <section class="pb-11 bg-white">
        <div class="object-cover w-full bg-center bg-cover h-[35rem] "
            style="background-image: url(https://i.postimg.cc/P5gCz1Wc/pexels-marc-mueller-380769.jpg);">
            <div class="flex items-center justify-center w-full h-full bg-blue-800 bg-opacity-50 ">
                <div class="text-center">
                    <h1 class="text-2xl font-semibold text-white uppercase lg:text-3xl">Privacy dei Dati</h1>
                </div>
            </div>
        </div>
        <div class="max-w-6xl mx-auto">
            <div>
                <div>
                    <div class="p-4">

                        <div class="font-poppins dark:text-gray-400">
                            <p class="pb-4 text-black"> La tua privacy è fondamentale per noi in Medicare. Ci impegniamo a proteggere le informazioni personali
                                che ci fornisci. Leggi attentamente la nostra Informativa sulla Privacy per comprendere come garantiamo la sicurezza dei tuoi dati.
                                Nella sezione dedicata ai cookie, spieghiamo come utilizziamo i cookie e le tecnologie simili per migliorare la tua esperienza sul
                                nostro sito. Ti invitiamo a gestire le tue preferenze sui cookie e le opzioni disponibili.
                                La protezione dei tuoi dati è al centro delle nostre pratiche. Descriviamo le misure rigorose che adottiamo, inclusi protocolli di
                                crittografia e controlli di accesso, per garantire la sicurezza delle tue informazioni.
                            </p>
                        </div>


                    </div>

                </div>

            </div>
        </div>
    </section>


{% include 'Footer2.0.html' %}

</body>
</html>
