<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Loopple/loopple-public-assets@main/motion-tailwind/motion-tailwind.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/grafica/convertimi.css">
</head>
<body>
{% include 'Navbar.html' %}

<div class="contenitore-legale">
    <div class="testo-legale">
        <h1 class="Elika-Gorika-80-bold">Privacy dei Dati</h1>

        <p class="testo-medicare">La tua privacy è fondamentale per noi in Medicare. Ci impegniamo a proteggere le informazioni personali che ci fornisci. Leggi attentamente la nostra Informativa sulla Privacy per comprendere come garantiamo la sicurezza dei tuoi dati.</p>

        <p class="testo-medicare">Nella sezione dedicata ai cookie, spieghiamo come utilizziamo i cookie e le tecnologie simili per migliorare la tua esperienza sul nostro sito. Ti invitiamo a gestire le tue preferenze sui cookie e le opzioni disponibili.</p>

        <p class="testo-medicare">La protezione dei tuoi dati è al centro delle nostre pratiche. Descriviamo le misure rigorose che adottiamo, inclusi protocolli di crittografia e controlli di accesso, per garantire la sicurezza delle tue informazioni.</p>
    </div>
</div>

{% include 'Footer2.0.html' %}
</body>
</html>