<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Come Accedere</title>
     <link rel="stylesheet" href="../static/grafica/main.css">
</head>
{% include 'Navbar.html' %}
<body>



 <section class="pb-11 bg-white">
        <div class="object-cover w-full bg-center bg-cover h-[35rem] "
            style="background-image: url(https://i.postimg.cc/P5gCz1Wc/pexels-marc-mueller-380769.jpg);">
            <div class="flex items-center justify-center w-full h-full bg-blue-800 bg-opacity-50 ">
                <div class="text-center">
                    <h1 class="text-2xl font-semibold text-white uppercase lg:text-3xl">Sei un Ente Sanitario?</h1>
                </div>
            </div>
        </div>
        <div class="max-w-6xl mx-auto">
            <div>
                <div>
                    <div class="p-4">

                        <div class="font-poppins dark:text-gray-400">
                            <p class="pb-4 text-black"> Sei un dipendente gestionale del tuo istituto sanitario e ti sei imbattutto sulla piattaforma Medicare
                                senza sapere come puoi gestire il tuo ente di appartenenza? Puoi fare un sospiro di sollievo perchè di seguito ti verrà
                                spiegato tutto il necessario.
                            </p>

                            <p class="text-lg font-medium text-gray-900">Trattamento speciale dell'ente</p>

                            <p class="pb-4 text-black">
                                Medicare offre all'Ente Sanitario funzionalità appositamente riservate per i suoi scopi
                                gestionali dovuti ai reparti da cui è formato, offrendo la possibilità di accedere dalla propria Area Ente a pagine
                                dove inserire o cancellare dei reparti sanitari. Per l'inserimento sarà necessario indicare nome, specializzazione del
                                reparto, email di reparto condivisa e password, per la cancellazione occorrerà fornire l'email del reparto che si vuole
                                cancellare
                            </p>

                            <p class="text-lg font-medium text-gray-900">Lo Scambio Equo di Medicare</p>

                            <p class="pb-4 text-black">
                                Siccome l'Ente Sanitario ha funzionalità apposite tale deve essere anche la registrazione di esso, l'incaricato che
                                svolgerà la procedura di registrazione deve sapere che è necessario un indirizzo di posta elettronica certificata per
                                poter eseguirla correttamente, se venisse fornito qualsiasi altro tipo di indirizzo diverso dalla PEC, esso
                                verrebbe irrevocabilmente rifiutato facendo ripetere la registrazione in seguito.
                            </p>


                        </div>

                        <img src="{{url_for('static', filename='images/SeiunEnteSanitario1.png')}}" class="pb-4" alt="">

                    </div>

                </div>

            </div>
        </div>
    </section>


{% include 'Footer2.0.html' %}

</body>
</html>