<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>L'Idea di progetto</title>
    <link rel="stylesheet" href="../static/grafica/main.css">
</head>
<body>
{% include 'Navbar.html' %}
<div class="flex flex-wrap justify-center items-center mx-auto max-w-screen-xl">
    <h1 class="font-serif text-4xl font-bold leading-6 mb-3 mt-3 text-stone-600 block">La Storia di MediCare</h1>
    <div class="font serif mt-4 ml-30 justify-content-between text-2xl leading-normal">
        L'idea di creare una piattaforma web come MediCare è nata da due necessità: facilitare e semplificare
        la gestione della propria salute per gli utenti base volendo fornire funzionalità smart per prenotarsi ad una visita
        specialistica, diagnostica strumentale o ad un richiamo vaccinale, nel visualizzare il proprio Fascicolo Sanitario
        Elettronico avendo sempre a portata di mano ogni documento sanitario emesso ad ogni visita, mentre per i medici
        e gli Enti Sanitari si è vista la necessità di facilitare loro lo svolgimento delle loro prestazioni fornendo funzionalità di registrazione
        sulla piattaforma per rendere possile la fornitura di esse, visualizzazione dello storico prenotazioni e consultazione
        del Fascicolo Sanitario Elettronico dei pazienti che visitano. Per l'Ente Sanitario è anceh scaturita la necessità di rendere
        semplice e comoda la gestione dei propri reparti ospedalieri.Ma l'idea di creare MediCare non è solo scaturita da quanto citato
        qui sopra, ma è nata anche dall'opportunità di spezzare quella barriera intangibile che c'è tra la sanità pubblica e quella privata, permettendo
        ad entrambe di coesistere ed avere le stesse caratteristiche, standardizzando processi che vengono considerati diversi nel mondo reale.
    </div>

</div>
{% include 'Footer2.0.html' %}
</body>
</html>