<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Loopple/loopple-public-assets@main/motion-tailwind/motion-tailwind.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/grafica/convertimi.css">
</head>
<body>
{% include 'Navbar.html' %}

<div class="contenitore-legale">
    <div class="testo-legale">
        <h1 class="Elika-Gorika-80-bold">Termini e Condizioni</h1>

        <p class="testo-medicare">Leggi attentamente le nostre condizioni d'uso che delineano le tue responsabilità come utente del sito Medicare.</p>

        <p class="testo-medicare">Nella sezione sulla politica di utilizzo del sito, troverai regole e linee guida per garantire un ambiente online sicuro e rispettoso. Risolviamo eventuali dispute seguendo un processo chiaro descritto nella sezione di risoluzione delle controversie.</p>

        <p class="testo-medicare">Ci riserviamo il diritto di apportare modifiche ai nostri Termini e Condizioni. Notifichiamo gli utenti su tali modifiche e come possono essere aggiornati su eventuali cambiamenti.</p>
    </div>
</div>

{% include 'Footer2.0.html' %}
</body>
</html>
