<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Come Accedere</title>
     <link rel="stylesheet" href="../static/grafica/main.css">
</head>
{% include 'Navbar.html' %}

<style>

    footer {
    /* Fissa il footer al fondo dello schermo */
    position: relative;
    bottom: 0;
    width: 100%;
}

</style>
<body>



 <section class="pb-11 bg-white">
        <div class="object-cover w-full bg-center bg-cover h-[35rem] "
            style="background-image: url(https://i.postimg.cc/P5gCz1Wc/pexels-marc-mueller-380769.jpg);">
            <div class="flex items-center justify-center w-full h-full bg-blue-800 bg-opacity-50 ">
                <div class="text-center">
                    <h1 class="text-2xl font-semibold text-white uppercase lg:text-3xl">Termini e condizioni</h1>
                </div>
            </div>
        </div>
        <div class="max-w-6xl mx-auto">
            <div>
                <div>
                    <div class="p-4">

                        <div class="font-poppins dark:text-gray-400">
                            <p class="pb-4 text-black"> Leggi attentamente le nostre condizioni d'uso che delineano le tue responsabilità come utente del sito Medicare.
                                Nella sezione sulla politica di utilizzo del sito, troverai regole e linee guida per garantire un ambiente online sicuro e rispettoso.
                                Risolviamo eventuali dispute seguendo un processo chiaro descritto nella sezione di risoluzione delle controversie.
                                Ci riserviamo il diritto di apportare modifiche ai nostri Termini e Condizioni. Notifichiamo gli utenti su tali modifiche e come
                                possono essere aggiornati su eventuali cambiamenti.
                            </p>
                        </div>


                    </div>

                </div>

            </div>
        </div>
    </section>


<footer class="mt-auto">
    {% include 'Footer2.0.html' %}
</footer>

</body>
</html>

