<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visite mediche</title>
          <link rel="stylesheet" href="{{url_for('static',filename='grafica/main.css')}}">
</head>
<body>

{% include 'Navbar.html' %}

<div class="max-w-screen-xl mx-auto p-5 sm:p-10 md:p-16 relative">
    <div class="bg-cover bg-center text-center overflow-hidden"
        style="min-height: 500px; background-image: url('{{ url_for('static', filename='images/visitaInfo.jpg') }}')">
    </div>
    <div class="max-w-3xl mx-auto">
        <div
            class="mt-3 bg-white rounded-b lg:rounded-b-none lg:rounded-r flex flex-col justify-between leading-normal">
            <div class="bg-white relative top-0 -mt-32 p-5 sm:p-10">
                <h1 href="#" class="text-gray-900 font-bold text-3xl mb-2">Cosa c'è da sapere sulle visite</h1>


                <p class="text-base leading-8 my-5">
                    Le visite mediche giocano un ruolo cruciale nella nostra strategia di prevenzione.
                    Rappresentano un'opportunità per individuare precocemente eventuali condizioni mediche, permettendoci
                    di intervenire prima che si trasformino in problemi più gravi. Questi incontri regolari con i professionisti
                    della salute ci consentono di monitorare il nostro stato di salute, di affrontare eventuali preoccupazioni e di
                    adottare uno stile di vita che favorisca il benessere generale.
                    Un aspetto significativo delle visite mediche è la possibilità di creare una relazione continua con il proprio medico.
                    Questo rapporto non solo favorisce la fiducia e la trasparenza, ma permette anche una gestione più efficace della salute a lungo termine.
                </p>

                <h3 class="text-2xl font-bold my-5">Fidati dei nostri medici</h3>

                <p class="text-base leading-8 my-5">
                    I medici, con la loro esperienza e conoscenza, diventano partner fondamentali nel nostro percorso verso una vita sana e appagante.
                    Le visite mediche consentono di affrontare condizioni mediche asintomatiche. Molte malattie possono svilupparsi senza sintomi evidenti,
                    ma attraverso controlli regolari, possiamo individuare precocemente potenziali problemi e intraprendere azioni preventive tempestive.
                </p>

                <blockquote class="border-l-4 text-base italic leading-8 my-5 p-5 text-indigo-600">La scelta di collaborare con medici privati e strutture ospedaliere
                    pubbliche è motivata dalla nostra convinzione che una società sana è una società forte. Lavorando a stretto contatto con il settore pubblico e quello privato
                    contribuiamo a promuovere una sanità inclusiva, riducendo le disparità e offrendo servizi medici di eccellenza a chiunque ne abbia bisogno.
                </blockquote>

                <p class="text-base leading-8 my-5">
                    La nostra piattaforma mette a disposizione una serie di medici privati e strutture ospedaliere pubbliche,
                    ponendo al centro della nostra missione l'accessibilità e la qualità delle cure mediche per tutti.
                    In un momento in cui la salute diventa sempre più preziosa, la disponibilità di medici competenti e strutture
                    sanitarie efficienti è di vitale importanza. Il nostro impegno è fornire a ciascun individuo l'accesso a un network di
                    professionisti della salute, garantendo che tutti possano beneficiare di cure di alta qualità, indipendentemente
                    dal loro contesto socio-economico.
                </p>


            </div>

        </div>
    </div>
</div>

{% include 'Footer2.0.html' %}

</body>
</html>