<!DOCTYPE html>
	<html>
	<head>
		<meta charset="utf-8">
		<title>Examples | IcoFont</title>
		<link rel="stylesheet" type="text/css" href="./icofont.min.css">
		<style type="text/css">
			body {
				margin: 0;
				padding: 0;
				background: #F6F6F9;
			}
			.header {
				border-bottom: 1px solid #DCDCE1;
				padding: 10px 0;
				margin-bottom: 10px;
			}
			.container {
				width: 980px;
				margin: 0 auto;
			}
			.ico-title {
				font-size: 2em;
			}
			.iconlist {
				margin: 0;
				padding: 0;
				list-style: none;
				text-align: center;
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
			}
			.iconlist li {
				position: relative;
				margin: 5px;
				width: 150px;
				cursor: pointer;
			}
			.iconlist li .icon-holder {
				position: relative;
				text-align: center;
				border-radius: 3px;
				overflow: hidden;
				padding-bottom: 5px;
				background: #ffffff;
				border: 1px solid #E4E5EA;
				transition: all 0.2s linear 0s;
			}
			.iconlist li .icon-holder:hover {
				background: #00C3DA;
				color: #ffffff;
			}
			.iconlist li .icon-holder:hover .icon i {
				color: #ffffff;
			}
			.iconlist li .icon-holder .icon {
				padding: 20px;
				text-align: center;
			}
			.iconlist li .icon-holder .icon i {
				font-size: 3em;
				color: #1F1142;
			}
			.iconlist li .icon-holder span {
				font-size: 14px;
				display: block;
				margin-top: 5px;
				border-radius: 3px;
			}
		</style>
	</head>
	<body>
	<div class="header">
		<div class="container">
			<h1 class="ico-title"> IcoFont Icons </h1>
		</div>
	</div>
	<div class="container">
		<ul class="iconlist">
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-aids"></i>
				</div> 
				<span> aids </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-ambulance-crescent"></i>
				</div> 
				<span> ambulance-crescent </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-ambulance-cross"></i>
				</div> 
				<span> ambulance-cross </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-ambulance"></i>
				</div> 
				<span> ambulance </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-autism"></i>
				</div> 
				<span> autism </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-bandage"></i>
				</div> 
				<span> bandage </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-blind"></i>
				</div> 
				<span> blind </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-blood-drop"></i>
				</div> 
				<span> blood-drop </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-blood-test"></i>
				</div> 
				<span> blood-test </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-blood"></i>
				</div> 
				<span> blood </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-brain-alt"></i>
				</div> 
				<span> brain-alt </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-brain"></i>
				</div> 
				<span> brain </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-capsule"></i>
				</div> 
				<span> capsule </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-crutch"></i>
				</div> 
				<span> crutch </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-disabled"></i>
				</div> 
				<span> disabled </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-dna-alt-1"></i>
				</div> 
				<span> dna-alt-1 </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-dna-alt-2"></i>
				</div> 
				<span> dna-alt-2 </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-dna"></i>
				</div> 
				<span> dna </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-doctor-alt"></i>
				</div> 
				<span> doctor-alt </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-doctor"></i>
				</div> 
				<span> doctor </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-drug-pack"></i>
				</div> 
				<span> drug-pack </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-drug"></i>
				</div> 
				<span> drug </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-first-aid-alt"></i>
				</div> 
				<span> first-aid-alt </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-first-aid"></i>
				</div> 
				<span> first-aid </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-heart-beat-alt"></i>
				</div> 
				<span> heart-beat-alt </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-heart-beat"></i>
				</div> 
				<span> heart-beat </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-heartbeat"></i>
				</div> 
				<span> heartbeat </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-herbal"></i>
				</div> 
				<span> herbal </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-hospital"></i>
				</div> 
				<span> hospital </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-icu"></i>
				</div> 
				<span> icu </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-injection-syringe"></i>
				</div> 
				<span> injection-syringe </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-laboratory"></i>
				</div> 
				<span> laboratory </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-medical-sign-alt"></i>
				</div> 
				<span> medical-sign-alt </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-medical-sign"></i>
				</div> 
				<span> medical-sign </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-nurse-alt"></i>
				</div> 
				<span> nurse-alt </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-nurse"></i>
				</div> 
				<span> nurse </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-nursing-home"></i>
				</div> 
				<span> nursing-home </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-operation-theater"></i>
				</div> 
				<span> operation-theater </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-paralysis-disability"></i>
				</div> 
				<span> paralysis-disability </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-patient-bed"></i>
				</div> 
				<span> patient-bed </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-patient-file"></i>
				</div> 
				<span> patient-file </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-pills"></i>
				</div> 
				<span> pills </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-prescription"></i>
				</div> 
				<span> prescription </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-pulse"></i>
				</div> 
				<span> pulse </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-stethoscope-alt"></i>
				</div> 
				<span> stethoscope-alt </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-stethoscope"></i>
				</div> 
				<span> stethoscope </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-stretcher"></i>
				</div> 
				<span> stretcher </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-surgeon-alt"></i>
				</div> 
				<span> surgeon-alt </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-surgeon"></i>
				</div> 
				<span> surgeon </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-tablets"></i>
				</div> 
				<span> tablets </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-test-bottle"></i>
				</div> 
				<span> test-bottle </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-test-tube"></i>
				</div> 
				<span> test-tube </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-thermometer-alt"></i>
				</div> 
				<span> thermometer-alt </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-thermometer"></i>
				</div> 
				<span> thermometer </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-tooth"></i>
				</div> 
				<span> tooth </span>
				
			</div>
		</li>
		
		<li>
			<div class="icon-holder">
				<div class="icon"> 
					<i class="icofont-xray"></i>
				</div> 
				<span> xray </span>
				
			</div>
		</li>
		
		</ul>
	</div>	
	</body>
	</html>
	